*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  min-block-size: 100vh;
  display: flex;
  align-items: center;
  margin: 0;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  gap: 30px;
  max-width: 1140px;
  margin: 0 auto;
  padding-inline: 30px;
  align-items: flex-end;
}

/* ЛЕВАЯ КОЛОНКА С ВИДЕО, ПОИСКОМ ГОРОДА, ЧЕКБОКСОМ И КНОПКОЙ*/

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.result__video-container {
  position: relative;
  width: 711px;
  height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.search-form__fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  inline-size: 1px;
  block-size: 1px;
  clip-path: inset(50%);
  white-space: nowrap;
}

/* форма ввода поиска города */

.search-form__textfield {
  width: 225px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* состояния формы ввода */

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__textfield:active {
  border-right: 1px solid #fff;
  border-left: 1px solid #fff;
  padding-left: 1px;
}

.search-form__textfield:focus {
  outline: none;
}

/* чекбокс */

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  gap: 15px;
}

/* состояния чекбокса */

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__pseudo-checkbox {
  justify-self: center;
  align-self: center;
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

/* .search-form__label:has(.search-form__pseudo-checkbox):has(:hover) {
  text-decoration: underline;
} */

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox {
  border: 2px solid #000;
  outline: 1px solid #fff;
  outline-offset: -1px;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: center;
}

/* кнопка */

.search-form__submit-button {
  align-self: end;
  width: 194px;
}

/* .button {
  height: 34px;
  border: 1px solid currentColor;
  color: #fff;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  background-color: transparent;
  cursor: pointer;
} */

.button {
  box-sizing: border-box;
  height: 34px;
  padding: 0;
  line-height: 34px;
  border: 1px solid currentColor;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight: 700;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

/* ПРАВАЯ КОЛОНКА СО СПИСКОМ ВИДЕО И СКРОЛЛБАРОМ */

.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding-right: 30px;
  justify-content: space-between;
  /* padding-top: 8px; */
}

.title {
  width: 259px;
  height: 210px;
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
  padding-top: 4px;
}

.content__accent {
  color: #545050;
}

.content__list {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.content__list-container {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 298px;
  width: 398px;
  overflow: auto;
  padding: 0;
}

/* .content__list-item:has(.content__card-link_current) {
  background-color: #545050;
} */

.content__card-link_current {
  background-color: #545050;
}

.content__card-link {
  display: block;
  /* margin-top: 30px; */
  /* gap: 30px; */
  text-decoration: none;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #fff;
}

.content__video-card {
  display: flex;
  justify-content: space-between;
}

/* .content__video-card:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 1px;
} */

.content__card-link:hover {
  text-decoration: underline;
  text-decoration-color: #fff;
  text-decoration-thickness: 1px;
}

.content__video-card-description-container {
  flex-grow: 1;
  max-width: 196px;
  color: #fff;
}

/* .content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
} */

/*
переделал заголовки карточек
с учетом возможности переполнения
*/

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 170px;
}

.content__video-card-description {
  padding-top: 6px;
  font-weight: 400;
  line-height: 90%;
}

.content__video-card-thumbnail {
  flex-shrink: 0;
  align-self: end;
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
  height: 34px;
}
